@import url("./reset.css");
@import url("./variables.css");

html,
body {
  padding: 0;
  margin: 0;
  overflow-y: overlay;

  font-family: var(--fnt-sans);
  font-weight: 350;
}

h1, h2, h3, h4, h5, h6 {
  width: 100%;
  text-align: center;
}

a {
  color: inherit;
  text-decoration: none;
}

summary, button, input[type=radio]:not(:disabled), input[type=checkbox]:not(:disabled) {
  cursor: pointer;
}
