@import url("./open-color.css");
@import url("./shadow-palette.css");

/*** ===================== */
/** === ATOMIC TOKENS === **/
/* ===================== ***/
:root {
  /* Color Tokens (https://yeun.github.io/open-color/) */
  --color-white: #f8fafb;
  --color-offwhite: #f2f4f6;
  --color-black: #121210;
  --color-offblack: #252521;

  /* Font Tokens (https://modernfontstacks.com/) */
  --font-transitional: Charter, 'Bitstream Charter', 'Sitka Text', Cambria, serif;
  --font-humanist: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
  --font-industrial: Bahnschrift, 'DIN Alternate', 'Franklin Gothic Medium', 'Nimbus Sans Narrow', sans-serif-condensed, sans-serif;
  --font-code: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
  --font-handwritten: 'Segoe Print', 'Bradley Hand', Chilanka, TSCu_Comic, casual, cursive;
}

/*** ======================= */
/** === SEMANTIC TOKENS === **/
/* ======================= ***/
:root {
  --clr-bg: var(--color-offwhite);
  --clr-fg: var(--color-white);
  --clr-txt: var(--color-offblack);
  --clr-line: var(--color-black);

  --fnt-condensed: 'Barlow Condensed', 'Futura Condensed', var(--font-industrial); /* https://fonts.google.com/specimen/Barlow+Condensed */
  --fnt-hand: 'Patrick Hand', 'Cardenio Modern', var(--font-handwritten); /* https://fonts.google.com/specimen/Patrick+Hand */
  --fnt-mono: var(--font-code);
  --fnt-sans: var(--font-humanist);
  --fnt-script: 'Satisfy', 'Thirsty Rough', var(--font-handwritten); /* https://fonts.google.com/specimen/Satisfy */
  --fnt-serif: var(--font-transitional);
}
